global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - alerts.yml

scrape_configs:
  - job_name: "api"
    metrics_path: /metrics
    static_configs:
      - targets:
          - "host.docker.internal:8000"

  - job_name: "milvus"
    metrics_path: /metrics
    static_configs:
      - targets:
          - "milvus-standalone:9091"
